<div class="d-flex justify-content-between align-items-center">
    <div class="col-auto">
        <h2>Welcome, {{name}}!</h2>
    </div>
    <button type="button" class="btn btn-outline-secondary" id="addNew">New Post</button>
</div>

{{#each blogposts as |blogpost|}}
{{> blogpost-header}}
{{/each}}


<script src="/js/addBlogPost.js"></script>
