* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.navbar-brand {
  font-size: 250%;
  font-weight: bold;
}

.nav-item {
  font-size: 150%;
}

.nav-link:hover {
  color: lightgrey;
}

.card a {
  text-decoration: none;
  color: black;
}
